.filters{
    
    height: 70px;
    position: relative;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: inline-block;
    display: flex;
    align-items: center;
}
button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    position: absolute;
    width: 20%;
    border: none;
    border-radius: 4px;
    right: 20px;

}
button:hover{
    opacity: 90%;
}
.filters .locations, .filters .amenities{
    height: 100%;
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: auto;
    
}
.filters .locations{
    border-right: 1px solid #DDDDDD;
}
.filters > div > h3{
    font-weight: 600;
    line-height: 0;
    
}
.filters > div > h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
}
